<% unless sys_menu.nil? ||sys_menu.empty? %>
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        <% sys_menu.each do |amenu| %>
          <ul class="nav pull-<%= amenu[:position].to_s%>">
            <li class="dropdown">
              <%= link_to("#{amenu[:title]} <b class='caret'></b>".html_safe, "#", {class: "dropdown-toggle", 'data-toggle' => "dropdown"}) %>
              <ul class="dropdown-menu">
              <% amenu[:subitems].each do |item| %>
                <% unless item == "---" %>
                  <li>
                    <%= link_act(item[:title], item[:path]) %>
                  </li>
                <% else %>
                  <li class="divider"></li>
                <% end %>
              <% end %>
              </ul>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
