<%= render partial: "product", collection: @products, as: :item %>
<%= render partial: "product", collection: @products %>
<%= render partial: "product", collection: @products, 
  as: :item, locals: {title: "Products Page"} %>

Partials are very useful in rendering collections.
When you pass a collection to a partial via the :collection option,
the partial will be inserted once for each member in the collection:

To use a custom local variable name within the partial,
specify the :as option in the call to the partial:

With this change, you can access an instance of the @products collection
as the item local variable within the partial.

You can also pass in arbitrary local variables to any partial
you are rendering with the locals: {} option:
